@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tilt+Neon&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(43, 3, 78);
    color: aliceblue;
    height: 65px;
    font-size: 28px;
    display: flex;
    align-items: center;
    padding: 0 12px; /* top bottom & left right padding */
    font-family: 'Roboto', sans-serif;
}
nav ul{
    list-style-type: none;

}

.gameContainer{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.container{
    display: grid;
     grid-template-rows: repeat(3,10vw);
     grid-template-columns: repeat(3,10vw);
    font-family: 'Roboto', sans-serif ;
    position:relative;
}

.box{
    border: 1px solid black;
   font-size: 7vw;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;

}


.box:hover{
    background-color: rgb(237, 227, 247);
}

  .info{     
    font-size: 30px; 
}


.gameInfo{
    margin: 0px 50px;
    padding: 10px 34px;
    font-family: 'Tilt Neon', cursive;
}
.gameInfo h1{
    font-size: 40px;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
 border-right: 0;

}
.bl-0{
 border-left: 0;
}
.bt-0{
 border-top: 0;
}
.bb-0{
    border-bottom: 0; 
}
                    
#reset {                  
    margin: 20px 20px;
    padding: 5px 15px;
    background:#ffd2af;
    border-radius: 6px;
    cursor: pointer;
    font-family:  'Tilt Neon', cursive;
    font-size: 22px;
    font-weight: bolder;
}

.line{
    background-color: rgb(165, 38, 159);
    width: 0;
    height: 3px;
    position: absolute;
    transition: width 1s ease-in-out;
} 



@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}
